.sidebar {
    grid-area: nav;
    background-color: rgb(7, 181, 104);    
}

.sidebar ul {
    margin: 10px;
    padding: 0;
}
.sidebar li {
    list-style-type: none;
    padding: 4px;
}
.sidebar a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.sidebar .settings {
    margin-top: 20px;
}